@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: Poppins;
    background-color: #f4f4f4;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

form {
    margin-bottom: 10px;
}

button {
    padding: 10px 120px;
    font-size: 20px;    
    background-color: #8db8d3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(163, 107, 223);
}

h1{
    font-size: 40px;
}